.main-login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.text-login{
    color: #2196f3;
    text-align: center;
}
.input-login{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 30px 1px #2196f3;
    border-radius: 20px;
}
.input-user{
    background-color: transparent;
    border: 2px solid #2196f3;
    width: 400px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    color: #2196f3;
}
.input-password{
    background-color: transparent;
    border: 2px solid #2196f3;
    width: 400px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    color: #2196f3;
}
.btn-login{
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-10%);
}
.p-login{
    text-align: center;
    color: #2196f3;
}
.btn-create-account{
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-10%);
}
.custom-swal-popup {
    background-color: black;
    color: #2196f3;
} 
.custom-swal-popup {
    box-shadow: 5px 5px 30px 1px #2196f3;
}